# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# Virtual Env
venv/
.env/
.venv/

# Jupyter
.ipynb_checkpoints/

# =========================
# MLflow
# =========================
mlruns/
mlartifacts/
mlflow.db

# =========================
# TensorFlow / Model Output
# =========================
*.h5
*.keras
saved_model.pb
variables/
assets/

# Generated model folders
model_artifacts/
Membangun_model/model/
Membangun_model/output/

# =========================
# Dataset cache
# =========================
.cache/
*.cache

# =========================
# Logs
# =========================
*.log
logs/

# =========================
# Build
# =========================
build/
dist/

# =========================
# VSCode
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Pytest / Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# TensorBoard
# =========================
logs/
events.out.tfevents.*

# =========================
# Temporary ZIP
# =========================
*.zip

# =========================
# Keep important artifacts
# =========================
!Membangun_model/screenshot_artifak.png
!Monitoring dan Logging/
!Workflow-CI/
!Eksperimen_Sonnyariady.ipynb
!README.md
!Workflow-CI.txt
!Eksperimen_SML_Sonnyariady.txt